.pokedex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    margin-right: 80px;

    @media(max-width:420px){
        width: 420px;
        margin: 0 auto;
    }
    &__titles {
        height: 200px;
        margin-top: 50px;
        width: 75%;

        h1 {
            margin-top: 50px;
            font-size: 2.5rem;
            font-weight: 800;

            @media(max-width: 768px){
                font-size: 45px;
            }
        }

        h3 {
            font-weight: 500;
            font-size: 1.2rem;

            @media(max-width: 768px){
                font-size: 16px;
            }
        }
    }

    select {
        margin-top: 30px;
        border: none;
        border-radius: 30px;
        outline: none;
        font-size: 20px;
        width: 300px;
        color: grey;           
        box-shadow: -10px -10px 15px rgb(58 58 58 / 9%), 10px 10px 15px rgb(66 66 66 / 35%);
        transition: .5s;
        padding: 7px 10px 8px 15px;

        @media(max-width: 768px){
            width: 250px;
            font-size: 14px;
            height: 50px;
            margin-right: 180px;
        }
        @media(max-width: 420px){
            margin-left: 160px;
        }
    }
}    